
mdb-stepper.card-body ul.stepper.horizontal .step .step-title:before {
    background-color: black;
  }
  
  // Horizontal active
  mdb-stepper.card-body ul.stepper.horizontal .step.active .step-title:before {
    background-color: green;
  }
  
  // Vertical inactive
  mdb-stepper.card-body ul.stepper .step:before {
    background-color: black;
  }
  
  // Vertical active
  mdb-stepper.card-body ul.stepper .step.active:before {
    background-color: green;
  }